
/* Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/*General*/
body {
    padding: 0;
    margin: 0;
    font: 14px "museo-sans", sans-serif, Helvetica, Arial;
    line-height: 1.3;
    color: #444;
}
a {
    color: #DD3F2B;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 {
    margin: 40px 0 0 0;
    font-size: 30px;
    line-height: 40px;
}
h2 {
    margin: 30px 0 0 0;
    font-size: 28px;
}
h3 {
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: bold;
}
h4 {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}
p {
    margin: 10px 0 0 0;
}
ul,
ol {
    margin: 8px 0 0 0;
}
ul li,
ol li {
    padding-top: 2px;
}
ul ul,
ul ol,
ol ul {
    margin-top: 0;
}
table {
    border: 1px solid #ccc;
}
table th {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-align: left;
}

/*Layout*/
#main,
#header .inner,
#footer .inner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 2em;
    margin: 0 auto 0 auto;
}
#header {
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
}
#logo {
    float:left;
    margin-top: 16px;
}
#logo a {
    color: #FFF;
}
#address {
    float: right;
    margin-top: 26px;
}

#main-container #main img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 10px 0 0 0;
}
#footer {
    padding: 16px 0;
    border-top: 1px solid black;
    margin-top: 40px;
}
#footer p {
    margin: 0;
}

/* Responsive */
@media only screen and (max-width: 648px) {
    h1 {
        text-align: center;
    }
    #logo {
        float: none;
        text-align: center;
    }
    #address {
        float: none;
        margin-top: 16px;
        text-align: center;
    }
    #footer {
        text-align: center;
    }
}

/* IE fixes */
.lt-ie9 #main,
.lt-ie9 #header .inner,
.lt-ie9 #footer .inner {
    min-width: 700px;
}