<?xml version="1.0"?>
<config>
    <modules>
        <RocketWeb_All>
            <version>1.0.0</version>
            <extension_version>1.0.0</extension_version>
        </RocketWeb_All>
    </modules>
    <global>
        <helpers>
            <rocketweb_all>
                <class>RocketWeb_All_Helper</class>
            </rocketweb_all>
        </helpers>
        <models>
            <rocketweb_all>
                <class>RocketWeb_All_Model</class>
            </rocketweb_all>
        </models>
        <blocks>
            <rocketweb_all>
                <class>RocketWeb_All_Block</class>
            </rocketweb_all>
        </blocks>
    </global>
    <adminhtml>
    	<events>
    		<controller_action_predispatch>
    			<observers>
    				<rocketweb_all>
    					<type>singleton</type>
                        <class>rocketweb_all/observer</class>
                        <method>updateNotifications</method>
    				</rocketweb_all>
    			</observers>
    		</controller_action_predispatch>
    	</events>
    </adminhtml>
    <default>
    	<rocketweb_all>
    		<general>
    			<enable_notifications>1</enable_notifications>
    		</general>
    	</rocketweb_all>
    </default>
</config>