<?xml version="1.0"?>
<config>
    <modules>
        <RocketWeb_Search>
            <version>2.0.6</version>
	  <extension_version>2.0.8</extension_version>
        </RocketWeb_Search>
    </modules>
    
    <global>
    	<models>
            <rocketweb_search>
                <class>RocketWeb_Search_Model</class>
                <resourceModel>rocketweb_search_mysql4</resourceModel>
            </rocketweb_search>
            <rocketweb_search_mysql4>
                <class>RocketWeb_Search_Model_Mysql4</class>
                <entities>
                    <query>
                        <table>rw_search_query</table>
                    </query>
                    <query_store>
                    	<table>rw_search_query_store</table>
                    </query_store>
					<query_sku>
						<table>rw_search_query_sku</table>
					</query_sku>
					<fulltext>
						<table>rw_fulltext</table>
					</fulltext>
					<result>
                        <table>rw_search_result</table>
                    </result>
                </entities>
            </rocketweb_search_mysql4>
            <catalogsearch_mysql4>
            	<rewrite>
            		<fulltext>RocketWeb_Search_Model_Rewrite_Mysql4_Fulltext</fulltext>
            		<fulltext_collection>RocketWeb_Search_Model_Rewrite_Mysql4_Fulltext_Collection</fulltext_collection>
            		<fulltext_engine>RocketWeb_Search_Model_Rewrite_Mysql4_Fulltext_Engine</fulltext_engine>
            	</rewrite>
            </catalogsearch_mysql4>
       </models>
       <blocks>
            <rocketweb_search>
                <class>RocketWeb_Search_Block</class>
            </rocketweb_search>
            <blog>
	        	<rewrite>
	        		<manage_blog_edit_tab_form>RocketWeb_Search_Block_Rewrite_Blog_Manage_Blog_Edit_Tab_Form</manage_blog_edit_tab_form>
	        	</rewrite>
	        </blog>
        </blocks>
       <helpers>
            <rocketweb_search>
                <class>RocketWeb_Search_Helper</class>
            </rocketweb_search>
        </helpers>
       <resources>
    		<rocketweb_search_setup>
    			<setup>
                    <module>RocketWeb_Search</module>
                    <class>RocketWeb_Search_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
    		</rocketweb_search_setup>
    	</resources>
		<events>
			<catalog_product_delete_after_done>
                <observers>
                    <aitsys_clear_count_cache>
                        <type>singleton</type>
                        <class>rocketweb_search/observer</class>
                        <method>deleteDirectSearchResultSku</method>
                    </aitsys_clear_count_cache>
                </observers>
            </catalog_product_delete_after_done>
            <admin_system_config_changed_section_rocketweb_search>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>markSearchIndexForReindex</method>
            		</rocketweb_search>
            	</observers>
            </admin_system_config_changed_section_rocketweb_search>
            <cms_page_save_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerCmsPageIndexerEventsOnSave</method>
            		</rocketweb_search>
            	</observers>
            </cms_page_save_after>
            <cms_page_delete_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerCmsPageIndexerEventsOnDelete</method>
            		</rocketweb_search>
            	</observers>
            </cms_page_delete_after>
            <model_save_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerBlogPageIndexerEventsOnSave</method>
            		</rocketweb_search>
            	</observers>
            </model_save_after>
            <model_delete_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerBlogPageIndexerEventsOnDelete</method>
            		</rocketweb_search>
            	</observers>
            </model_delete_after>
            <catalog_category_save_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerCategoryIndexerEventsOnSave</method>
            		</rocketweb_search>
            	</observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
            	<observers>
            		<rocketweb_search>
            			<type>singleton</type>
						<class>rocketweb_search/observer</class>
						<method>triggerCategoryIndexerEventsOnDelete</method>
            		</rocketweb_search>
            	</observers>
            </catalog_category_delete_after>
		</events>
		<index>
            <indexer>
                <catalogsearch_fulltext>
                    <model>rocketweb_search/indexer_fulltext</model>
                </catalogsearch_fulltext>
            </indexer>
        </index>
    </global>
    
    <admin>
    	<routers>
    		<rocketweb_search>
    			<use>admin</use>
				<args>
					<module>RocketWeb_Search</module>
					<frontName>rocketweb_search</frontName>
				</args>
    		</rocketweb_search>
    	</routers>
    </admin>
    
    
    <adminhtml>
    	<layout>
			<updates>
				<rocketweb_search>
					<file>rocketweb_search.xml</file>
				</rocketweb_search>
			</updates>
		</layout>
		<events>
			<adminhtml_cms_page_edit_tab_main_prepare_form>
				<observers>
					<rocketweb_searchcms>
						<class>rocketweb_search/observer</class>
						<method>onCmsMainTabPrepareForm</method>
					</rocketweb_searchcms>
				</observers>
			</adminhtml_cms_page_edit_tab_main_prepare_form>
		</events>
    </adminhtml>
    
    
    <frontend>
    	<routers>
    		<catalogsearch>
    			<args>
    				<modules>
    					<RocketWeb_Search before="Mage_CatalogSearch">RocketWeb_Search</RocketWeb_Search>
    				</modules>
    			</args>
    		</catalogsearch>
    		<rocketweb_search>
    			<use>standard</use>
				<args>
					<module>RocketWeb_Search</module>
					<frontName>search</frontName>
				</args>
    		</rocketweb_search>
    	</routers>
    	<layout>
			<updates>
				<rocketweb_search>
					<file>rocketweb_search.xml</file>
				</rocketweb_search>
			</updates>
		</layout>
    </frontend>
    
    <searcheable_entities>
    	<cms_page>
    		<model>rocketweb_search/entities_cms</model>
    	</cms_page>
    	<blog>
    		<model>rocketweb_search/entities_blog</model>
    	</blog>
    	<category>
    		<model>rocketweb_search/entities_category</model>
    	</category>
    </searcheable_entities>
    
    <default>
    	<rocketweb_search>
    		<search_weights>
    			<enable>1</enable>
    			<title_weight>5</title_weight>
    			<sku_weight>3</sku_weight>
    		</search_weights>
    		<cms_search>
    			<enable>1</enable>
    			<title_weight>5</title_weight>
    			<results_title>Pages matching '{{query}}'</results_title>
    			<snippet_length>300</snippet_length>
    			<num_per_page>5</num_per_page>
    		</cms_search>
    		<category_search>
    			<enable>1</enable>
    			<title_weight>5</title_weight>
    			<results_title>Categories matching '{{query}}'</results_title>
    			<snippet_length>300</snippet_length>
    			<num_per_page>5</num_per_page>
    		</category_search>
    		<aw_blog_search>
    			<enable>0</enable>
    			<title_weight>5</title_weight>
    			<results_title>Blog posts matching '{{query}}'</results_title>
    			<snippet_length>300</snippet_length>
    			<num_per_page>5</num_per_page>
    		</aw_blog_search>
    	</rocketweb_search>
    </default>
    
</config>